<div style="margin-bottom: 20px">
<nav class="navbar bg-light" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <a class="navbar-brand d-flex align-items-center">
      <i class="fa-brands fa-twitter" style="color: #0dcaf0; font-size: 50px; margin-right: 7px;"></i>
      <h1 class="twitt-word">Twitter</h1>
    </a>
    <form class="d-flex" role="search">
      <%= form_with url: twitters_path, method: :get do |form| %>
        <%= form.text_field :query_text, class:"input", onChange: 'this.form.requestSubmit()', value: params[:query_text], placeholder: "Buscar un tweet"%>
      <% end %>
    </form>
  </div>
</nav>
</div>

<div class="container">
<% @twitters.each do |twitter| %>
  <div class="card border-info mb-2" style="max-width: 200rem;">
    <div class="card-header">
      <i class="fa-solid fa-user"></i>
      <span class="d-inline-block"><%= twitter.username %></span>
    </div>
    <div class="card-body">
      <h5 class="card-title">Ha twitteado:</h5>
      <p class="card-text"><%= twitter.description %></p>
      <i class="fa-regular fa-comment" style="margin-right: 5px;"></i>
      <i class="fa-solid fa-retweet" style="margin-right: 5px;"></i>
      <i class="fa-regular fa-heart" style="margin-right: 5px;"></i>
      <i class="fa-solid fa-arrow-up-from-bracket" style="margin-right: 5px;"></i>
    </div>
  </div>
<% end %>

<div style="margin-top: 20px;">
  <%= raw pagy_nav(@pagy) %>
</div>

<div style="margin-top: 20px; margin-bottom: 50px">
<%= link_to "Crear un nuevo Tweet", new_twitter_path, class:"btn btn-info" %>
</div>
</div>